body {
  background-color: darkgreen;
}

#columns-container {
  display: flex;
  height: 80vh;
  padding: 1rem;
  justify-content: center;
  background-color: rgb(3, 128, 3);
}

#columns-container > div {
  width: 7vw;
  color: white;
  margin: 0 1vw;
}

.droppable-column {
  padding-bottom: 10vw;
}

.card {
  font-size: 1.5vw;
  padding: 0.5vw;
  background-color: rgb(37, 113, 212);
  margin-bottom: -7.5vw;
  height: 9.8vw;
  width: 7vw;
  border: 2px solid red;
  border-radius: 0.5vw;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  user-select: none;
  cursor: pointer;
}

.hidden-card {
  background-color: rgb(91, 24, 136);
  border: 2px solid rgb(40, 180, 35);
  border-radius: 0.5vw;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
  margin-bottom: -9vw;
  height: 9.8vw;
  width: 7vw;
}

footer {
  display: flex;
  padding: 1vw 3vw;
  align-items: center;
  justify-content: space-between;
}

.spares-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-left: 6vw;
  cursor: pointer;
}

.spare-card {
  height: 9.8vw;
  width: 7vw;
  margin-left: -6vw;
  border: 2px solid red;
  background-color: rgb(97, 212, 241);
  border-radius: 0.5vw;
  -webkit-border-radius: 0.5vw;
  -moz-border-radius: 0.5vw;
  -ms-border-radius: 0.5vw;
  -o-border-radius: 0.5vw;
}

.sets {
  font-size: 3rem;
}
