body {
  user-select: none;
  background: rgb(11, 145, 58);
  background: radial-gradient(
    circle,
    rgba(11, 145, 58, 1) 0%,
    rgba(6, 84, 34, 1) 87%
  );
}

.App {
  max-width: 162vh;
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
}

#columns-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 14.625px;
  padding: 0 1.5vh;
  padding-top: 1.5vh;
  height: 73vh;
}

#columns-container > div {
  width: 100%;
  color: white;
  position: relative;
}

.droppable-column {
  padding-bottom: 125%;
  width: 100%;
}

.card-base {
  border: 2px solid rgba(255, 255, 255, 0.418);
  width: 100%;
  margin-bottom: -153%;
  border-radius: min(1vw, 1vh);
  -webkit-border-radius: min(1vw, 1vh);
  -moz-border-radius: min(1vw, 1vh);
  -ms-border-radius: min(1vw, 1vh);
  -o-border-radius: min(1vw, 1vh);
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 150%;
}

.hidden-card {
  border-radius: min(1vw, 1vh);
  -webkit-border-radius: min(1vw, 1vh);
  -moz-border-radius: min(1vw, 1vh);
  -ms-border-radius: min(1vw, 1vh);
  -o-border-radius: min(1vw, 1vh);
  margin-bottom: -142%;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 150%;
  background-image: url(./images/back.svg);
  background-size: cover;
}
